# Build directories
build/
out/
cmake-build-*/

# Compiled object files
*.o
*.obj
*.lo
*.slo
*.ko
*.elf

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
CppPong

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
*_autogen/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*.bak
*.orig
*.log
